.container {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 150px;
    height: 250px;
    border: 1px solid black;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
   position: relative; 
    width: 100%;
    height: 100%;
    text-align: center;
    /* transition: transform 0.8s;
    transform-style: preserve-3d; */
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    width: 150px;
    height: 250px;
  }

   /* Styles the back side for the fairy type pokemon */
   .flip-card-back, #jigglypuff, #mr-mime, #wigglytuff, #clefairy, #clefable, #cleffa, #togepi, #snubbull, #granbull, #flabebe, #floette, #florges, #spritzee, #aromatisse, #swirlix, #slurpuff, #incineroar, #charizard, #moltres, #charmander, #charmeleon, #vulpix, #ninetales, #growlithe, #arcanine, #ponyta, #rapidash, #magmar, #flareon, #braixen, #litten, #torracat, #gastly, #haunter, #gengar, #misdreavus, #shuppet, #banette, #duskull, #dusclops, #mismagius, #dusknoir, #yamask, #cofagrigus, #drifloon, #drifblim, #spiritomb, #litwick, #slowpoke, #slowbro, #starmie, #exeggcute, #exeggutor, #jynx, #abra, #kadabra, #alakazam, #drowzee, #hypno, #mewtwo, #mew, #uxie, #unown, #azelf, #cyndaquil, #quilava, #typhlosion, #slugma, #magcargo, #houndour, #houndoom, #magby, #entei, #ho-oh, #torchic, #combusken, #blaziken, #numel, #camerupt, #torkoal, #chimchar, #monferno, #infernape, #magmortar, #heatran, #victini, #tepig, #pignite, #emboar, #pansear, #simisear, #darumaka, #lampent, #chandelure, #heatmor, #larvesta, #volcarona, #reshiram, #fennekin, #delphox, #fletchinder, #talonflame, #litleo, #pyroar, #volcanion, #salandit, #salazzle, #turtonator{
    transform: rotateY(180deg);
    width:150px;
    height:250px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }

  /* background for the fairy type pokemon */
  #jigglypuff, #mr-mime, #wigglytuff, #clefairy, #clefable, #cleffa, #togepi, #snubbull, #granbull, #flabebe, #floette, #florges, #spritzee, #aromatisse, #swirlix, #slurpuff{
    background-color: rgb(245, 97, 195);
  }

  /* background for the fire type pokemon */
  #incineroar, #charizard, #moltres, #charmander, #charmeleon, #vulpix, #ninetales, #growlithe, #arcanine, #ponyta, #rapidash, #magmar, #flareon, #braixen, #litten, #torracat, #cyndaquil, #quilava, #typhlosion, #slugma, #magcargo, #houndour, #houndoom, #magby, #entei, #ho-oh, #torchic, #combusken, #blaziken, #numel, #camerupt, #torkoal, #chimchar, #monferno, #infernape, #magmortar, #heatran, #victini, #tepig, #pignite, #emboar, #pansear, #simisear, #darumaka, #litwick, #lampent, #chandelure, #heatmor, #larvesta, #volcarona, #reshiram, #fennekin, #delphox, #fletchinder, #talonflame, #litleo, #pyroar, #volcanion, #salandit, #salazzle, #turtonator{
    background-color: rgb(249, 89, 89);
  }

 /* background for the ghost type pokemon */
 #gastly, #haunter, #gengar, #misdreavus, #shuppet, #banette, #duskull, #dusclops, #mismagius, #dusknoir, #yamask, #cofagrigus, #drifloon, #drifblim, #spiritomb {
  background-color: rgb(124, 63, 238);
}

/* background for the psychic type pokemon */
#slowpoke, #slowbro, #starmie, #exeggcute, #exeggutor, #jynx, #abra, #kadabra, #alakazam, #drowzee, #hypno, #mewtwo, #mew, #uxie, #unown, #azelf {
  background-color:  rgb(197, 58, 151);
}
 
  body {
    font-family: "Heebo", sans-serif;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 100%;
    text-align: center;
  }
  html {
    height: 100%;
  }
  
  h1 {
    display: block;
    margin-top: 30px;
  }
