<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

       <!-- cleffa -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="cleffa" class="flip-card-back">
          </div>
        </div>
      </div>  


         <!-- clefairy -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="clefairy" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- clefable -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="clefable" class="flip-card-back">
          </div>
        </div>
      </div>  

      <!-- igglybuff -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="igglybuff" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- jigglypuff -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="jigglypuff" class="flip-card-back">
          </div>
        </div>
      </div>  

      <!-- wigglytuff -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="wigglytuff" class="flip-card-back">
          </div>
        </div>
      </div>  

      <!-- mime-jr -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="mime-jr" class="flip-card-back">
          </div>
        </div>
      </div>  

   <!-- mr-mime -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="mr-mime" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- togepi -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="togepi" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- togetic -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="togetic" class="flip-card-back">
          </div>
        </div>
      </div>  

           <!-- azurill -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="azurill" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- marill -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="marill" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- azumarill -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="azumarill" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- snubbull -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="snubbull" class="flip-card-back">
          </div>
        </div>
      </div>  

    <!-- granbull -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="granbull" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- ralts -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="ralts" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- kirlia -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="kirlia" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- gardevoir -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="gardevoir" class="flip-card-back">
          </div>
        </div>
      </div>  

           <!-- mawile -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="mawile" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- togekiss -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="togekiss" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- cottonee -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="cottonee" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- whimsicott -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="whimsicott" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- flabebe -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="flabebe" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- floette -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="floette" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- florges -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="florges" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- spritzee -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="spritzee" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- aromatisse -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="aromatisse" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- swirlix -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="swirlix" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- slurpuff -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="slurpuff" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- sylveon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="sylveon" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- dedenne -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="dedenne" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- carbink -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="carbink" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- klefki -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="klefki" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- xerneas -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="xerneas" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- diancie -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="diancie" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- primarina -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="primarina" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- cutiefly -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="cutiefly" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- ribombee -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="ribombee" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- morelull -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="morelull" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- shiinotic -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="shiinotic" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- comfey -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="comfey" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- tapu-koko -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="tapu-koko" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- tapu-lele -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="tapu-lele" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- tapu-bulu -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="tapu-bulu" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- tapu-fini -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="tapu-fini" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- magearna -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="magearna" class="flip-card-back">
          </div>
        </div>
      </div>  

      </div>
       <script src="javascript/fairy.js"></script>
</body>
</html>