<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

       <!-- cleffa -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cleffa" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">cleffa</div>
  </div>


         <!-- clefairy -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="clefairy" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">clefairy</div>
  </div>

       <!-- clefable -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="clefable" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">clefable</div>
  </div>

      <!-- igglybuff -->
      <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="igglybuff" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">igglybuff</div>
  </div>

         <!-- jigglypuff -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jigglypuff" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">jigglypuff</div>
  </div>

      <!-- wigglytuff -->
      <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wigglytuff" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">wigglytuff</div>
  </div>

      <!-- mime-jr -->
      <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mime-jr" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">mime-jr</div>
  </div>

   <!-- mr-mime -->
   <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">mr-mime</div>
  </div>

       <!-- togepi -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="togepi" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">togepi</div>
  </div>

       <!-- togetic -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="togetic" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">togetic</div>
  </div>

           <!-- azurill -->
           <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="azurill" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">azurill</div>
  </div>

       <!-- marill -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="marill" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">marill</div>
  </div>

         <!-- azumarill -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="azumarill" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">azumarill</div>
  </div>

        <!-- snubbull -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="snubbull" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">snubbull</div>
  </div>

    <!-- granbull -->
    <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="granbull" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">granbull</div>
  </div>

         <!-- ralts -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ralts" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">ralts</div>
  </div>

         <!-- kirlia -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kirlia" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">kirlia</div>
  </div>

         <!-- gardevoir -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gardevoir" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">gardevoir</div>
  </div>

           <!-- mawile -->
           <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mawile" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">mawile</div>
  </div>

       <!-- togekiss -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="togekiss" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">togekiss</div>
  </div>

       <!-- cottonee -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cottonee" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">cottonee</div>
  </div>

       <!-- whimsicott -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="whimsicott" class="flip-card-back">
          </div>
        </div>
      </div> 
       <div class="text">whimsicott</div>
  </div>

        <!-- flabebe -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="flabebe" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">flabebe</div>
  </div>

        <!-- floette -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="floette" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">floette</div>
  </div>

        <!-- florges -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="florges" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">florges</div>
  </div>

        <!-- spritzee -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="spritzee" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">spritzee</div>
  </div>

        <!-- aromatisse -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="aromatisse" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">aromatisse</div>
  </div>

        <!-- swirlix -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="swirlix" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">swirlix</div>
  </div>

        <!-- slurpuff -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slurpuff" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">slurpuff</div>
  </div>

       <!-- sylveon -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="sylveon" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">sylveon</div>
  </div>

       <!-- dedenne -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dedenne" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">dedenne</div>
  </div>

       <!-- carbink -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="carbink" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">carbink</div>
  </div>

       <!-- klefki -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="klefki" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">klefki</div>
  </div>

       <!-- xerneas -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xerneas" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">xerneas</div>
  </div>

       <!-- diancie -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="diancie" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">diancie </div>
  </div>

       <!-- primarina -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="primarina" class="flip-card-back">
          </div>
        </div>
      </div>  
       <div class="text">primarina</div>
  </div>

      </div>
       <script src="javascript/fairy.js"></script>
</body>
</html>