<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fire Pokemon</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

      <!-- charmander -->
      <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="charmander" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">charmander</div>
  </div>

        <!-- charmeleon -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="charmeleon" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">charmeleon</div>
  </div>

   <!-- charizard -->
   <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"> 
          </div>
          <div id="charizard" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">charizard</div>
  </div>

      <!-- vulpix -->
      <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="vulpix" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">vulpix</div>
  </div>

 <!-- ninetales -->
 <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ninetales" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">ninetales</div>
  </div>

      <!-- growlithe -->
      <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="growlithe" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">growlithe</div>
  </div>

       <!-- arcanine -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="arcanine" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">arcaine</div>
  </div>

   <!-- ponyta -->
   <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ponyta" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">ponyta</div>
  </div>

       <!-- rapidash -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="rapidash" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">rapidash</div>
  </div>

        <!-- magmar -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magmar" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">magmar</div>
  </div>

        <!-- flareon -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="flareon" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">flareon</div>
  </div>

       <!-- moltres -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="moltres" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">moltres</div>
  </div>

          <!-- cyndaquil -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cyndaquil" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">cyndaquil</div>
  </div>

          <!-- quilava -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="quilava" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">quilava</div>
  </div>

          <!-- typhlosion -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="typhlosion" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">typhlosion</div>
  </div>

          <!-- slugma -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slugma" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">slugma</div>
  </div>

          <!-- magcargo -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magcargo" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">magcargo</div>
  </div>

          <!-- houndour -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="houndour" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">houndour</div>
  </div>

          <!-- houndoom -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="houndoom" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">houndoom</div>
  </div>

          <!-- magby -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magby" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">magby</div>
  </div>

          <!-- entei -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="entei" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">entei</div>
  </div> 

          <!-- ho-oh -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ho-oh" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">ho-oh</div>
  </div>

          <!-- torchic -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="torchic" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">torchic</div>
  </div>

          <!-- combusken -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="combusken" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">combusken</div>
  </div>

          <!-- blaziken -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="blaziken" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">blaziken</div>
  </div>

          <!-- numel -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="numel" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">numel</div>
  </div>

             <!-- camerupt -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"> 
          </div>
          <div id="camerupt" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">camerupt</div>
  </div>

             <!-- torkoal -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="torkoal" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">torkoal</div>
  </div>

             <!-- chimchar -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chimchar" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">chimchar</div>
  </div>

             <!-- monferno -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="monferno" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">monferno</div>
  </div>

             <!-- infernape -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="infernape" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">infernape</div>
  </div>

             <!-- magmortar -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magmortar" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">magmortar</div>
  </div>

             <!-- heatran -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="heatran" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">heatran</div>
  </div>

             <!-- victini -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="victini" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">victini</div>
  </div>

             <!-- tepig -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="tepig" class="flip-card-back">
          </div>
        </div>
      </div>   
      <div class="text">tepig</div>
  </div>

             <!-- pignite -->
             <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="pignite" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">pignite</div>
  </div>

      </div>
     <script src="javascript/fire.js"></script>
     <script src="javascript/slideshow.js"></script>
</body>
</html>