<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

         <!-- incineroar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="incineroar" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- charizard -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="charizard" class="flip-card-back">
          </div>
        </div>
      </div>  

 <!-- moltres -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="moltres" class="flip-card-back">
          </div>
        </div>
      </div>  

      <!-- charmander -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="charmander" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- charmeleon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="charmeleon" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- vulpix -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="vulpix" class="flip-card-back">
          </div>
        </div>
      </div> 

 <!-- ninetales -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="ninetales" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- growlithe -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="growlithe" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- arcanine -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="arcanine" class="flip-card-back">
          </div>
        </div>
      </div> 

   <!-- ponyta -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="ponyta" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- rapidash -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="rapidash" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- magmar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="magmar" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- flareon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="flareon" class="flip-card-back">
          </div>
        </div>
      </div> 

     </div>
     <script src="javascript/fire.js"></script>
</body>
</html>