<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">



      <!-- charmander -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="charmander" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- charmeleon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="charmeleon" class="flip-card-back">
          </div>
        </div>
      </div> 

   <!-- charizard -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="charizard" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- vulpix -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="vulpix" class="flip-card-back">
          </div>
        </div>
      </div> 

 <!-- ninetales -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="ninetales" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- growlithe -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="growlithe" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- arcanine -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="arcanine" class="flip-card-back">
          </div>
        </div>
      </div> 

   <!-- ponyta -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="ponyta" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- rapidash -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="rapidash" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- magmar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="magmar" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- flareon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="flareon" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- moltres -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="moltres" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- cyndaquil -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="cyndaquil" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- quilava -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="quilava" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- typhlosion -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="typhlosion" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- slugma -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="slugma" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- magcargo -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="magcargo" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- houndour -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="houndour" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- houndoom -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="houndoom" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- magby -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="magby" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- entei -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="entei" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- ho-oh -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="ho-oh" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- torchic -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="torchic" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- combusken -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="combusken" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- blaziken -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="blaziken" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- numel -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="numel" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- camerupt -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="camerupt" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- torkoal -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="torkoal" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- chimchar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="chimchar" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- monferno -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="monferno" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- infernape -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="infernape" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- magmortar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="magmortar" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- heatran -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="heatran" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- victini -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="victini" class="flip-card-back">
          </div>
        </div>
      </div> 

             <!-- tepig -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="tepig" class="flip-card-back">
          </div>
        </div>
      </div>   

             <!-- pignite -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="pignite" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- emboar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="emboar" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- pansear -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="pansear" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- simisear -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="simisear" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- darumaka -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="darumaka" class="flip-card-back">
          </div>
        </div>
      </div> 

             <!-- litwick -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="litwick" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- lampent -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="lampent" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- chandelure -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="chandelure" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- heatmor -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="heatmor" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- larvesta -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="larvesta" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- volcarona -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="volcarona" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- reshiram -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="reshiram" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- fennekin -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="fennekin" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- braixen -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="braixen" class="flip-card-back">
          </div>
        </div>
      </div> 

             <!-- delphox -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="delphox" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- fletchinder -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="fletchinder" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- talonflame -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="talonflame" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- litleo -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="litleo" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- pyroar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="pyroar" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- volcanion -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="volcanion" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- litten -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="litten" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- torracat -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="torracat" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- incineroar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="incineroar" class="flip-card-back">
          </div>
        </div>
      </div>   

             <!-- salandit -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="salandit" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- salazzle -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="salazzle" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- turtonator -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
           
          </div>
          <div id="turtonator" class="flip-card-back">
          </div>
        </div>
      </div>  
    
     </div>
     <script src="javascript/fire.js"></script>
</body>
</html>