<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
     <h2>Fire Pokemon</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas aliquam iste adipisci mollitia rerum odit. Doloribus roach null doloremque beatae eat consequuntur, present expedita. Totam, today! Account impeachment number.</p>
     <div class="container">
         <!-- incineroar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="incineroar" class="flip-card-back">
          </div>
        </div>
      </div>  
     </div>
     <script src="javascript/fire.js"></script>
</body>
</html>