<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

         <!-- gastly -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="gastly" class="flip-card-back">
          </div>
        </div>
      </div>  

 <!-- haunter -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="haunter" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- gengar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="gengar" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- misdreavus -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="misdreavus" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- shedinja -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="shedinja" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- sableye -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="sableye" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- shuppet -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="shuppet" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- banette -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="banette" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- duskull -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="duskull" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- dusclops -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="dusclops" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- drifloon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="drifloon" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- drifblim -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="drifblim" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- mismagius -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="mismagius" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- spiritomb -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="spiritomb" class="flip-card-back">
          </div>
        </div>
      </div>   

        <!-- dusknoir -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="dusknoir" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- froslass -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="froslass" class="flip-card-back">
          </div>
        </div>
      </div>  
      
        <!-- rotom -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="rotom" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- yamask -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="yamask" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- cofagrigus -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="cofagrigus" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- frillish -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="frillish" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- jellicent -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="jellicent" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- litwick2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="litwick2" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- lampent2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="lampent2" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- chandelure2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="chandelure2" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- golett -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="golett" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- golurk -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="golurk" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- honedge -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="honedge" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- doublade -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="doublade" class="flip-card-back">
          </div>
        </div>
      </div>

        <!-- trevenant -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="trevenant" class="flip-card-back">
          </div>
        </div>
      </div> 
      
        <!-- hoopa -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="hoopa" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- decidueye -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="decidueye" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- sandygast -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="sandygast" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- palossand -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="palossand" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- dhelmise -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="dhelmise" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- lunala -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="lunala" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- marshadow -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="marshadow" class="flip-card-back">
          </div>
        </div>
      </div>  
      
      </div>
    <script src="javascript/ghost.js"></script>
</body>
</html>