<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ghost Pokemon</title>
     <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

         <!-- gastly -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gastly" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">gastly</div>
  </div>

 <!-- haunter -->
  <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="haunter" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">haunter</div>
  </div>

       <!-- gengar -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gengar" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">gengar</div>
  </div>

       <!-- misdreavus -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="misdreavus" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">misdreavus</div>
  </div>

         <!-- shedinja -->
          <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="shedinja" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">shedinja</div>
  </div>

       <!-- sableye -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="sableye" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">sableye</div>
  </div>

       <!-- shuppet -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="shuppet" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">shuppet</div>
  </div>

       <!-- banette -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="banette" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">banette</div>
  </div>

       <!-- duskull -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="duskull" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">duskull</div>
  </div>

        <!-- dusclops -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dusclops" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">dusclops</div>
  </div>

       <!-- drifloon -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drifloon" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">drifloon</div>
  </div>

       <!-- drifblim -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drifblim" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">drifblim</div>
  </div>

       <!-- mismagius -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mismagius" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">mismagius</div>
  </div>

      <!-- spiritomb -->
       <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"> 
          </div>
          <div id="spiritomb" class="flip-card-back">
          </div>
        </div>
      </div>   
      <div class="text">spiritomb</div>
  </div>

        <!-- dusknoir -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dusknoir" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">dusknoir</div>
  </div>

        <!-- froslass -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="froslass" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">froslass</div>
  </div>
      
        <!-- rotom -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="rotom" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">rotom</div>
  </div>

       <!-- yamask -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">  
          </div>
          <div id="yamask" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">yamask</div>
  </div>

       <!-- cofagrigus -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cofagrigus" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">cofagrigus</div>
  </div>

        <!-- frillish -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="frillish" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">frillish</div>
  </div>

        <!-- jellicent -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jellicent" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">jellicent</div>
  </div>

       <!-- litwick2 -->
        <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="litwick2" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">litwick</div>
  </div>

        <!-- lampent2 -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lampent2" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">lampent</div>
  </div>

        <!-- chandelure2 -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chandelure2" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">chandelure</div>
  </div>

        <!-- golett -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="golett" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">golett</div>
  </div>

        <!-- golurk -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="golurk" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">golurk</div>
  </div>

        <!-- honedge -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="honedge" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">honedge</div>
  </div>

        <!-- doublade -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="doublade" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">Cdoubleade</div>
  </div>

        <!-- trevenant -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="trevenant" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">trevenant</div>
  </div>
      
        <!-- hoopa -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hoopa" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">hoopa</div>
  </div>

        <!-- decidueye -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">           
          </div>
          <div id="decidueye" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">decidueye</div>
  </div>

        <!-- sandygast -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">           
          </div>
          <div id="sandygast" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">sandygast</div>
  </div>

        <!-- palossand -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="palossand" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">palossand</div>
  </div>

        <!-- dhelmise -->
         <div class="mySlides fade">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dhelmise" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">dhelmise</div>
  </div>

        <!-- lunala -->
         <div class="mySlides fade">
            <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunala" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">lunala</div>
  </div>

        <!-- marshadow -->
         <div class="mySlides fade">
           <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">           
          </div>
          <div id="marshadow" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">marshadow</div>
  </div>
  
      </div>
    <script src="javascript/ghost.js"></script>
    <script src="javascript/slideshow.js"></script>
</body>
</html>