<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
   <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <!-- cleffa -->
            <div class="container">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cleffa" class="flip-card-back">
          </div>
        </div>
      </div>  



         <!-- clefairy -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="clefairy" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- clefable -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="clefable" class="flip-card-back">
          </div>
        </div>
      </div>  


      <!-- igglybuff -->
      
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="igglybuff" class="flip-card-back">
          </div>
        </div>
      </div>  


         <!-- jigglypuff -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jigglypuff" class="flip-card-back">
          </div>
        </div>
      </div>  


      <!-- wigglytuff -->
      
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wigglytuff" class="flip-card-back">
          </div>
        </div>
      </div>  


      <!-- mime-jr -->
      
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mime-jr" class="flip-card-back">
          </div>
        </div>
      </div>  


   <!-- mr-mime -->
   
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- togepi -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="togepi" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- togetic -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="togetic" class="flip-card-back">
          </div>
        </div>
      </div>  


           <!-- azurill -->
           
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="azurill" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- marill -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="marill" class="flip-card-back">
          </div>
        </div>
      </div>  


         <!-- azumarill -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="azumarill" class="flip-card-back">
          </div>
        </div>
      </div>  


        <!-- snubbull -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="snubbull" class="flip-card-back">
          </div>
        </div>
      </div>  


    <!-- granbull -->
    
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="granbull" class="flip-card-back">
          </div>
        </div>
      </div>  


         <!-- ralts -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ralts" class="flip-card-back">
          </div>
        </div>
      </div>  


         <!-- kirlia -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kirlia" class="flip-card-back">
          </div>
        </div>
      </div>  


         <!-- gardevoir -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gardevoir" class="flip-card-back">
          </div>
        </div>
      </div>  


           <!-- mawile -->
           
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mawile" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- togekiss -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="togekiss" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- cottonee -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cottonee" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- whimsicott -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="whimsicott" class="flip-card-back">
          </div>
        </div>
      </div> 


        <!-- flabebe -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="flabebe" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- floette -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="floette" class="flip-card-back">
          </div>
        </div>
      </div>  


        <!-- florges -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="florges" class="flip-card-back">
          </div>
        </div>
      </div>  


        <!-- spritzee -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="spritzee" class="flip-card-back">
          </div>
        </div>
      </div>  


        <!-- aromatisse -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="aromatisse" class="flip-card-back">
          </div>
        </div>
      </div>  


        <!-- swirlix -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="swirlix" class="flip-card-back">
          </div>
        </div>
      </div>  


        <!-- slurpuff -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slurpuff" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- sylveon -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="sylveon" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- dedenne -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dedenne" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- carbink -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="carbink" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- klefki -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="klefki" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- xerneas -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xerneas" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- diancie -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="diancie" class="flip-card-back">
          </div>
        </div>
      </div>  


       <!-- primarina -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="primarina" class="flip-card-back">
          </div>
        </div>
      </div>  


      </div>
       <div class="container">

      <!-- charmander -->
      
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="charmander" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- charmeleon -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="charmeleon" class="flip-card-back">
          </div>
        </div>
      </div> 

   <!-- charizard -->
   
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"> 
          </div>
          <div id="charizard" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- vulpix -->
      
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="vulpix" class="flip-card-back">
          </div>
        </div>
      </div> 

 <!-- ninetales -->
 
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ninetales" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- growlithe -->
      
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="growlithe" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- arcanine -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="arcanine" class="flip-card-back">
          </div>
        </div>
      </div> 

   <!-- ponyta -->
   
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ponyta" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- rapidash -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="rapidash" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- magmar -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magmar" class="flip-card-back">
          </div>
        </div>
      </div> 

        <!-- flareon -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="flareon" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- moltres -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="moltres" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- cyndaquil -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cyndaquil" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- quilava -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="quilava" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- typhlosion -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="typhlosion" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- slugma -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slugma" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- magcargo -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magcargo" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- houndour -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="houndour" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- houndoom -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="houndoom" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- magby -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magby" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- entei -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="entei" class="flip-card-back">
          </div>
        </div>
      </div> 

          <!-- ho-oh -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ho-oh" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- torchic -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="torchic" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- combusken -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="combusken" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- blaziken -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="blaziken" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- numel -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="numel" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- camerupt -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"> 
          </div>
          <div id="camerupt" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- torkoal -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="torkoal" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- chimchar -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chimchar" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- monferno -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="monferno" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- infernape -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="infernape" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- magmortar -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="magmortar" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- heatran -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="heatran" class="flip-card-back">
          </div>
        </div>
      </div>  

             <!-- victini -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="victini" class="flip-card-back">
          </div>
        </div>
      </div> 

             <!-- tepig -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="tepig" class="flip-card-back">
          </div>
        </div>
      </div>   

             <!-- pignite -->
             
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="pignite" class="flip-card-back">
          </div>
        </div>
      </div>  

      </div>
      <div class="container">

         <!-- gastly -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gastly" class="flip-card-back">
          </div>
        </div>
      </div>  

 <!-- haunter -->
  
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="haunter" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- gengar -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gengar" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- misdreavus -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="misdreavus" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- shedinja -->
          
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="shedinja" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- sableye -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="sableye" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- shuppet -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="shuppet" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- banette -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="banette" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- duskull -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="duskull" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- dusclops -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dusclops" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- drifloon -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drifloon" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- drifblim -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drifblim" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- mismagius -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mismagius" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- spiritomb -->
       
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front"> 
          </div>
          <div id="spiritomb" class="flip-card-back">
          </div>
        </div>
      </div>   

        <!-- dusknoir -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dusknoir" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- froslass -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="froslass" class="flip-card-back">
          </div>
        </div>
      </div>  
      
        <!-- rotom -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="rotom" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- yamask -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">  
          </div>
          <div id="yamask" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- cofagrigus -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cofagrigus" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- frillish -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="frillish" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- jellicent -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jellicent" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- litwick2 -->
        
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="litwick2" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- lampent2 -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lampent2" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- chandelure2 -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chandelure2" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- golett -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="golett" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- golurk -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="golurk" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- honedge -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="honedge" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- doublade -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="doublade" class="flip-card-back">
          </div>
        </div>
      </div>

        <!-- trevenant -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="trevenant" class="flip-card-back">
          </div>
        </div>
      </div> 
      
        <!-- hoopa -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hoopa" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- decidueye -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">           
          </div>
          <div id="decidueye" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- sandygast -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">           
          </div>
          <div id="sandygast" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- palossand -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="palossand" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- dhelmise -->
         
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="dhelmise" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- lunala -->
         
            <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunala" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- marshadow -->
         
           <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">           
          </div>
          <div id="marshadow" class="flip-card-back">
          </div>
        </div>
      </div> 
  </div>

      <div class="container">

    <!-- abra -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="abra" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- kadabra -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kadabra" class="flip-card-back">
          </div>
        </div>
      </div>


    <!-- alakazam -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="alakazam" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- slowpoke -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowpoke" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- slowbro -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowbro" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- drowzee -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drowzee" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- hypno -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hypno" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- exeggcute -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggcute" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- exeggutor -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggutor" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- starmie -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="starmie" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- mr-mime2 -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime2" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- jynx -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jynx" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- mewtwo -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mewtwo" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- mew -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mew" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- natu -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="natu" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- xatu -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xatu" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- espeon -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espeon" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- slowking -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowking" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- unown -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="unown" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- wobbuffet -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wobbuffet" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- girafarig -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="girafarig" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- smoochum -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="smoochum" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- lugia -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lugia" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- celebi -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="celebi" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- ralts2 -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ralts2" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- kirlia2 -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kirlia2" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- gardevoir2 -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gardevoir2" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- meditite -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="meditite" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- medicham -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="medicham" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- spoink -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="spoink" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- grumpig -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="grumpig" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- lunatone -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunatone" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- solrock -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solrock" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- baltoy -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="baltoy" class="flip-card-back">
          </div>
        </div>
      </div>

    <!-- claydol -->
    
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="claydol" class="flip-card-back">
          </div>
        </div>
      </div>
  

   <!-- chimecho -->
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chimecho" class="flip-card-back">
          </div>
        </div>
      </div>

    </div>
 
  <script src="javascript/psychic.js"></script>
    <script src="javascript/ghost.js"></script>
       <script src="javascript/fairy.js"></script>
       <script src="javascript/fire.js"></script>
</body>
</html>