<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Psychic Pokemon</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/app.css" />
</head>

<body>
  <div class="container">

    <!-- abra -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="abra" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">abra</div>
      <div></div>
    </div>

    <!-- kadabra -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kadabra" class="flip-card-back">
          </div>
        </div>
        <div class="text">kadabra</div>
      </div>

    </div>

    <!-- alakazam -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="alakazam" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">alakazam</div>
    </div>

    <!-- slowpoke -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowpoke" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">slowpoke</div>
    </div>

    <!-- slowbro -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowbro" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">slowbro</div>
    </div>

    <!-- drowzee -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drowzee" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">drowzee</div>
    </div>

    <!-- hypno -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hypno" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">hypno</div>
    </div>

    <!-- exeggcute -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggcute" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">exeggcute</div>
    </div>

    <!-- exeggutor -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggutor" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">exeggutor</div>
    </div>

    <!-- starmie -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="starmie" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">starmie</div>
    </div>

    <!-- mr-mime2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mr-mime2</div>
    </div>

    <!-- jynx -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jynx" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">jynx</div>
    </div>

    <!-- mewtwo -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mewtwo" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mewtwo</div>
    </div>

    <!-- mew -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mew" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mew</div>
    </div>

    <!-- natu -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="natu" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">natu</div>
    </div>

    <!-- xatu -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xatu" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">xatu</div>
    </div>

    <!-- espeon -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espeon" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">espeon</div>
    </div>

    <!-- slowking -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowking" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">slowking</div>
    </div>

    <!-- unown -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="unown" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">unown</div>
    </div>

    <!-- wobbuffet -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wobbuffet" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">wobbuffet</div>
    </div>

    <!-- girafarig -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="girafarig" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">girafarig</div>
    </div>

    <!-- smoochum -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="smoochum" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">smoochum</div>
    </div>

    <!-- lugia -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lugia" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">lugia</div>
    </div>

    <!-- celebi -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="celebi" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">celebi </div>
    </div>

    <!-- ralts2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ralts2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">ralts</div>
    </div>

    <!-- kirlia2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kirlia2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">kirlia</div>
    </div>

    <!-- gardevoir2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gardevoir2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">gardevoir</div>
    </div>

    <!-- meditite -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="meditite" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">meditite</div>
    </div>

    <!-- medicham -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="medicham" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">medicham</div>
    </div>

    <!-- spoink -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="spoink" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">spoink</div>
    </div>

    <!-- grumpig -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="grumpig" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">grumpig</div>
    </div>

    <!-- lunatone -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunatone" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">lunatone</div>
    </div>

    <!-- solrock -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solrock" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">solrock</div>
    </div>

    <!-- baltoy -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="baltoy" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">baltoy</div>
    </div>

    <!-- claydol -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="claydol" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">claydol</div>
    </div>

    <!-- chimecho -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chimecho" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">chimecho</div>
    </div>

    <!-- wynaut -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wynaut" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">wynaut</div>
    </div>

  </div>

  <script src="javascript/psychic.js"></script>
  <script src="javascript/slideshow.js"></script>
</body>

</html>