<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/app.css" />
</head>

<body>
  <div class="container">

    <!-- abra -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="abra" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">abra</div>
      <div></div>
    </div>

    <!-- kadabra -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kadabra" class="flip-card-back">
          </div>
        </div>
        <div class="text">kadabra</div>
      </div>

    </div>

    <!-- alakazam -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="alakazam" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">alakazam</div>
    </div>

    <!-- slowpoke -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowpoke" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">slowpoke</div>
    </div>

    <!-- slowbro -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowbro" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">slowbro</div>
    </div>

    <!-- drowzee -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drowzee" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">drowzee</div>
    </div>

    <!-- hypno -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hypno" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">hypno</div>
    </div>

    <!-- exeggcute -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggcute" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">exeggcute</div>
    </div>

    <!-- exeggutor -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggutor" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">exeggutor</div>
    </div>

    <!-- starmie -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="starmie" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">starmie</div>
    </div>

    <!-- mr-mime2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mr-mime2</div>
    </div>

    <!-- jynx -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jynx" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">jynx</div>
    </div>

    <!-- mewtwo -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mewtwo" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mewtwo</div>
    </div>

    <!-- mew -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mew" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mew</div>
    </div>

    <!-- natu -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="natu" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">natu</div>
    </div>

    <!-- xatu -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xatu" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">xatu</div>
    </div>

    <!-- espeon -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espeon" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">espeon</div>
    </div>

    <!-- slowking -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowking" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">slowking</div>
    </div>

    <!-- unown -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="unown" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">unown</div>
    </div>

    <!-- wobbuffet -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wobbuffet" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">wobbuffet</div>
    </div>

    <!-- girafarig -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="girafarig" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">girafarig</div>
    </div>

    <!-- smoochum -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="smoochum" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">smoochum</div>
    </div>

    <!-- lugia -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lugia" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">lugia</div>
    </div>

    <!-- celebi -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="celebi" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">celebi </div>
    </div>

    <!-- ralts2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="ralts2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">ralts</div>
    </div>

    <!-- kirlia2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kirlia2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">kirlia</div>
    </div>

    <!-- gardevoir2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gardevoir2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">gardevoir</div>
    </div>

    <!-- meditite -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="meditite" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">meditite</div>
    </div>

    <!-- medicham -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="medicham" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">medicham</div>
    </div>

    <!-- spoink -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="spoink" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">spoink</div>
    </div>

    <!-- grumpig -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="grumpig" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">grumpig</div>
    </div>

    <!-- lunatone -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunatone" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">lunatone</div>
    </div>

    <!-- solrock -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solrock" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">solrock</div>
    </div>

    <!-- baltoy -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="baltoy" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">baltoy</div>
    </div>

    <!-- claydol -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="claydol" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">claydol</div>
    </div>

    <!-- chimecho -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chimecho" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">chimecho</div>
    </div>

    <!-- wynaut -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wynaut" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">wynaut</div>
    </div>

    <!-- beldum -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="beldum" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">beldum</div>
    </div>

    <!-- metang -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="metang" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">metang</div>
    </div>

    <!-- metagross -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="metagross" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">metagross</div>
    </div>

    <!-- latias -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="latias" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">latias</div>
    </div>

    <!-- latios -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="latios" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">latios</div>
    </div>

    <!-- jirachi -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jirachi" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">jirachi</div>
    </div>

    <!-- chingling -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="chingling" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">chingling</div>
    </div>

    <!-- bronzor -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="bronzor" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">bronzor</div>
    </div>

    <!-- bronzong -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="bronzong" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">bronzong </div>
    </div>

    <!-- mime-jr2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mime-jr2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mime-jr</div>
    </div>

    <!-- gallade -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gallade" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">gallade</div>
    </div>

    <!-- uxie -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="uxie" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">uxie</div>
    </div>

    <!-- mesprit -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mesprit" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">mesprit</div>
    </div>

    <!-- azelf -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="azelf" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">azelf</div>
    </div>

    <!-- cresselia -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cresselia" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">cresselia</div>
    </div>

    <!-- victini2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="victini2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">victini</div>
    </div>

    <!-- munna -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="munna" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">munna</div>
    </div>

    <!-- musharna -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="musharna" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">musharna</div>
    </div>

    <!-- woobat -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="woobat" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">woobat</div>
    </div>

    <!-- swoobat -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="swoobat" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">swoobat</div>
    </div>

    <!-- sigilyph -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="sigilyph" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">sigilyph</div>
    </div>

    <!-- gothita -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gothita" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">gothita</div>
    </div>

    <!-- gothorita -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gothorita" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">gothorita </div>
    </div>

    <!-- gothitelle -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="gothitelle" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">gothitelle</div>
    </div>

    <!-- solosis -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solosis" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">solosis</div>
    </div>

    <!-- duosion -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="duosion" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">duosion</div>
    </div>

    <!-- reuniclus -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="reuniclus" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">reuniclus</div>
    </div>

    <!-- elgyem -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="elgyem" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">elgyem</div>
    </div>

    <!-- beheeyem -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="beheeyem" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">beheeyem</div>
    </div>

    <!-- delphox2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="delphox2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">delphox</div>
    </div>

    <!-- espurr -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espurr" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">espurr</div>
    </div>

    <!-- inkay -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="inkay" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">inkay</div>
    </div>

    <!-- malamar -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="malamar" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">malamar</div>
    </div>

    <!-- hoopa2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hoopa2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">hoopa</div>
    </div>

    <!-- oranguru -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="oranguru" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">oranguru</div>
    </div>

    <!-- bruxish -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="bruxish" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">bruxish</div>
    </div>

    <!-- tapu-lele2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="tapu-lele2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">tapu-lele</div>
    </div>

    <!-- cosmog -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cosmog" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">cosmog</div>
    </div>

    <!-- cosmoem -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cosmoem" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">cosmoem</div>
    </div>

    <!-- solgaleo -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solgaleo" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">solgaleo</div>
    </div>

    <!-- lunala2 -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunala2" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">lunala</div>
    </div>

    <!-- necrozma -->
    <div class="mySlides fade">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="necrozma" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">necrozma</div>
    </div>

  </div>
  <script src="javascript/psychic.js"></script>
</body>

</html>