<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

         <!-- slowpoke -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="slowpoke" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- slowbro -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="slowbro" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- starmie -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="starmie" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- exeggcute -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="exeggcute" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- exeggutor -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="exeggutor" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- jynx -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="jynx" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- abra -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="abra" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- kadabra -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="kadabra" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- alakazam -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="alakazam" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- drowzee -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="drowzee" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- hypno -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="hypno" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- mewtwo -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="mewtwo" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- mew -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas doloremque rerum sequi quam minima nisi ex dolores</p>
          </div>
          <div id="mew" class="flip-card-back">
          </div>
        </div>
      </div> 

      </div>
    <script src="javascript/psychic.js"></script>
</body>
</html>