<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

<!-- abra -->
<div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="abra" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">abra</div>
      <div>description</div>
  </div>


       <!-- kadabra -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kadabra" class="flip-card-back">
          </div>
        </div>
        <div class="text">kadabra</div>
  </div>

      </div>  

       <!-- alakazam -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="alakazam" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


         <!-- slowpoke -->
         <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowpoke" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


       <!-- slowbro -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowbro" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


       <!-- drowzee -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drowzee" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


      <!-- hypno -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hypno" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">Caption Text</div>
  </div>


       <!-- exeggcute -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggcute" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


       <!-- exeggutor -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggutor" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


        <!-- starmie -->
        <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="starmie" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


        <!-- mr-mime2 -->
        <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime2" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


       <!-- jynx -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jynx" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


       <!-- mewtwo -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mewtwo" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


          <!-- mew -->
          <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">    
          </div>
          <div id="mew" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


          <!-- natu -->
          <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="natu" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


          <!-- xatu -->
          <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xatu" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


          <!-- espeon -->
          <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espeon" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


          <!-- slowking -->
          <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowking" class="flip-card-back">
          </div>
        </div>
      </div>  
      <div class="text">Caption Text</div>
  </div>


       <!-- unown -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="unown" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- wobbuffet -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wobbuffet" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- girafarig -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="girafarig" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- smoochum -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="smoochum" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- lugia -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lugia" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- celebi -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="celebi" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- ralts2 -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="ralts2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- kirlia2 -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="kirlia2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- gardevoir2 -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gardevoir2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- meditite -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="meditite" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- medicham -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="medicham" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- spoink -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="spoink" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- grumpig -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="grumpig" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">Caption Text</div>
  </div>


       <!-- lunatone -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="lunatone" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- solrock -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="solrock" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- baltoy -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="baltoy" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- claydol -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="claydol" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- chimecho -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="chimecho" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- wynaut -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="wynaut" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- beldum -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="beldum" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- metang -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="metang" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- metagross -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="metagross" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- latias -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="latias" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- latios -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="latios" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- jirachi -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="jirachi" class="flip-card-back">
          </div>
        </div>
      </div>
      <div class="text">Caption Text</div>
  </div>


       <!-- chingling -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="chingling" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- bronzor -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="bronzor" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- bronzong -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="bronzong" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- mime-jr2 -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="mime-jr2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- gallade -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gallade" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


         <!-- uxie -->
         <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="uxie" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


         <!-- mesprit -->
         <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="mesprit" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


         <!-- azelf -->
         <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="azelf" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- cresselia -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="cresselia" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- victini2 -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="victini2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


         <!-- munna -->
         <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="munna" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- musharna -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="musharna" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- woobat -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="woobat" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- swoobat -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="swoobat" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- sigilyph -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="sigilyph" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- gothita -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gothita" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- gothorita -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gothorita" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- gothitelle -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gothitelle" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


       <!-- solosis -->
       <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solosis" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- duosion -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="duosion" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- reuniclus -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="reuniclus" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- elgyem -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="elgyem" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- beheeyem -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="beheeyem" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- delphox2 -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="delphox2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- espurr -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espurr" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- inkay -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="inkay" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- malamar -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="malamar" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- hoopa2 -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hoopa2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- oranguru -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="oranguru" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- bruxish -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="bruxish" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- tapu-lele2 -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="tapu-lele2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- cosmog -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cosmog" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- cosmoem -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cosmoem" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- solgaleo -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solgaleo" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- lunala2 -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunala2" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>


      <!-- necrozma -->
      <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="necrozma" class="flip-card-back">
          </div>
        </div>
      </div> 
      <div class="text">Caption Text</div>
  </div>

      
      </div>
    <script src="javascript/psychic.js"></script>
</body>
</html>