<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
     <div class="container">

<!-- abra -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="abra" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- kadabra -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="kadabra" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- alakazam -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="alakazam" class="flip-card-back">
          </div>
        </div>
      </div>  

         <!-- slowpoke -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowpoke" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- slowbro -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowbro" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- drowzee -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="drowzee" class="flip-card-back">
          </div>
        </div>
      </div>  

      <!-- hypno -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hypno" class="flip-card-back">
          </div>
        </div>
      </div>

       <!-- exeggcute -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggcute" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- exeggutor -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="exeggutor" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- starmie -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="starmie" class="flip-card-back">
          </div>
        </div>
      </div>  

        <!-- mr-mime2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mr-mime2" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- jynx -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="jynx" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- mewtwo -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="mewtwo" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- mew -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">    
          </div>
          <div id="mew" class="flip-card-back">
          </div>
        </div>
      </div> 

          <!-- natu -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="natu" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- xatu -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="xatu" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- espeon -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espeon" class="flip-card-back">
          </div>
        </div>
      </div>  

          <!-- slowking -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="slowking" class="flip-card-back">
          </div>
        </div>
      </div>  

       <!-- unown -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="unown" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- wobbuffet -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="wobbuffet" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- girafarig -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="girafarig" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- smoochum -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="smoochum" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- lugia -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lugia" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- celebi -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="celebi" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- ralts2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="ralts2" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- kirlia2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="kirlia2" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- gardevoir2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gardevoir2" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- meditite -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="meditite" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- medicham -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="medicham" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- spoink -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="spoink" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- grumpig -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="grumpig" class="flip-card-back">
          </div>
        </div>
      </div>

       <!-- lunatone -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="lunatone" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- solrock -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="solrock" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- baltoy -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="baltoy" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- claydol -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="claydol" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- chimecho -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="chimecho" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- wynaut -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="wynaut" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- beldum -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="beldum" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- metang -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="metang" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- metagross -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="metagross" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- latias -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="latias" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- latios -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="latios" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- jirachi -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="jirachi" class="flip-card-back">
          </div>
        </div>
      </div>

       <!-- chingling -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="chingling" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- bronzor -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="bronzor" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- bronzong -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="bronzong" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- mime-jr2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="mime-jr2" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- gallade -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gallade" class="flip-card-back">
          </div>
        </div>
      </div> 

         <!-- uxie -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="uxie" class="flip-card-back">
          </div>
        </div>
      </div> 

         <!-- mesprit -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="mesprit" class="flip-card-back">
          </div>
        </div>
      </div> 

         <!-- azelf -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="azelf" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- cresselia -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="cresselia" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- victini2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="victini2" class="flip-card-back">
          </div>
        </div>
      </div> 

         <!-- munna -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="munna" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- musharna -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="musharna" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- woobat -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="woobat" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- swoobat -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="swoobat" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- sigilyph -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="sigilyph" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- gothita -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gothita" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- gothorita -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gothorita" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- gothitelle -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          
          </div>
          <div id="gothitelle" class="flip-card-back">
          </div>
        </div>
      </div> 

       <!-- solosis -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solosis" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- duosion -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="duosion" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- reuniclus -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="reuniclus" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- elgyem -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="elgyem" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- beheeyem -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="beheeyem" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- delphox2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="delphox2" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- espurr -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="espurr" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- inkay -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="inkay" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- malamar -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="malamar" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- hoopa2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="hoopa2" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- oranguru -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="oranguru" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- bruxish -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="bruxish" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- tapu-lele2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="tapu-lele2" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- cosmog -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cosmog" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- cosmoem -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="cosmoem" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- solgaleo -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="solgaleo" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- lunala2 -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="lunala2" class="flip-card-back">
          </div>
        </div>
      </div> 

      <!-- necrozma -->
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
          </div>
          <div id="necrozma" class="flip-card-back">
          </div>
        </div>
      </div> 
      
      </div>
    <script src="javascript/psychic.js"></script>
</body>
</html>